@font-face {
    font-family: 'Anton';
    src: url('fonts/Anton.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun Regular';
    src: url('fonts/Sarabun-Regular.ttf') format('truetype');
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: #96CB9A;
}

#head {
    position: relative;
    width: 100%;
    height: 25%;
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#base_riviere2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#base_riviere {
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: FadeInOut;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

#nuages{
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh; 
    overflow-y: hidden;
    overflow-x: hidden;
}

#nuages1{
    width: 50%;
    height: 100%;
}
#nuages2{
    width: 50%;
    height: 100%;
}

#img_nuages1{
    width: 100%;
    height: 100%;
}
#img_nuages2{
    width: 100%;
    height: 100%;
}

.titre{
    position: absolute;
    font-family: 'Anton', sans-serif;    
    font-size: 50pt;
    color: white;
    z-index: 3;
    left: 50vh;
    top: 3vw; 
}